nav {
  background: #28282B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0b0b0c;
}

form {
  max-width: 400px;
  margin: 2em auto;
  background: #28282B;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.3rem;
}

form select {
  width: 100%;
  margin-bottom: 1.5em;
  background-color: #4b4b4b;
  color: #98acc5;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  font-size: 1.15em;
}

form button {
  width: 100%;
  margin-bottom: 1.5em;
  background-color: #28a745;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
  padding: 0.7em 0;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

#result {
  max-width: 400px;
  margin: 1em auto;
  padding: 1em;
  background-color: #d9f0ff;
  border: 1px solid #0077cc;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}

.buton-inapoi {
  background-color: #202023;
  color: #98acc5;
  border: 1.6px solid black;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.buton-inapoi:hover {
  background-color: #2b2b2e;
  color: #5691df;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

nav h1 {
  color: #4885d4;
}