body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.register-card {
  background: #28282B;
  padding: 2em;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="submit"] {
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #005fa3;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: #4b4b4b;
  color: #fff;
  border: 1.5px solid black;
}

a {
  color: #7da4d8;
  text-decoration: underline;
}