body>div {
  max-width: 700px;
  margin: 2em auto;
  background: #28282B;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

nav {
  background: #28282B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0b0b0c;
}

h2 {
  color: #4885d4;
  margin-bottom: 1em;
}

h3 {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background-color: #4b4b4b;
  color: #7da4d8;
  margin-bottom: 0.5em;
  padding: 0.7em 1em;
  border-radius: 8px;
  font-weight: 600;
}

.rss-section {
  margin: 2em auto;
  max-width: 700px;
  background-color: #28282B;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.rss-section h3 {
  color: #7da4d8;
  font-size: 1.3rem;
  margin-bottom: 1em;
}

.rss-section p {
  color: #ccc;
  font-size: 1rem;
  display: block;
  margin-bottom: 1.2em;
}

.rss-link {
  display: inline-block;
  background-color: #0077cc;
  color: white;
  padding: 0.7em 1.2em;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
}

.rss-link:hover {
  background-color: #005fa3;
}

.buton-inapoi {
  background-color: #202023;
  color: #98acc5;
  border: 1.6px solid black;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.buton-inapoi:hover {
  background-color: #2b2b2e;
  color: #5691df;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

nav h1 {
  color: #4885d4;
}