* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/wallpaper.jpg");
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  color: #4885d4;
}

input,
button {
  font-size: 1rem;
  padding: 0.6em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}